p,
h1,
h2 {
    color: white;
}

body {
    background-color: black;
    padding: 7rem;
}

h1 {
    text-align: center;

}

.Alita {
    display: flex;
    flex-wrap: wrap;
}

.biuld_1 {
    width: 48%;
}

.biuld_2 {
    width: 48%;
}