p,
h1,
h2 {
    color: white;
}

body {
    background-color: black;
    padding: 7rem;
}

h1 {
    text-align: center;

}

.image-container {
    width: 400px;
}

.image-container img {
    width: 100%;
    cursor: pointer;
}

/* Popup */
.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;

    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup p {
    font-size: 20px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;

}

p {
    margin: 500px;
}